createdAt: "2018-05-28T12:26:17.951Z"
updatedAt: "2018-05-28T12:29:32.924Z"
type: "SNIPPET_NOTE"
folder: "00ed0e13ebc5e5a7e218"
title: ""
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
]
tags: []
isStarred: false
isTrashed: true
