createdAt: "2018-05-24T15:27:57.973Z"
updatedAt: "2018-05-24T15:28:37.108Z"
type: "MARKDOWN_NOTE"
folder: "00ed0e13ebc5e5a7e218"
title: "Study on relation $\\hat{\\mu}$ and $q_{\\mu}$"
content: '''
  # Study on relation $\\hat{\\mu}$ and $q_{\\mu}$ 
  
  
  - find script in:
  ```/home/pan/work/XEPHYR_PKG/SR1_VALIDATION/draw_limit.c```
  
  ![limit](/home/pan/work/XEPHYR_PKG/SR1_VALIDATION/LIMITS/xephyr_limit_apr_v2.png =500x)
  
  
'''
tags: []
isStarred: false
isTrashed: false
